.homepage-header {
  justify-content: center;
  text-align: center; }

.homepage-buttons {
  justify-content: center; }

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px; }

#profileHeader {
  border: 1px solid #000000;
  width: 20px;
  height: 20px; }
