.homepage-header {
  justify-content: center;
  text-align: center; }

.homepage-buttons {
  justify-content: center; }

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px; }

.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
h1 {
  color: #000000; }
