<div class='center-card card-1' layout="column">

    <br><br>
    <br><br>
    <br><br>

<!-- STEMentor Logo -->

    <div layout="row" layout-align="center">
        <img src="./assets/images/logo/STEMentorLogo.png" alt="Mountain View" style="width:500px;height:200px;">
    </div>

    <br><br>

<!------------------->

<!-- About page text -->

    <p class='about-center' align="center">
        STEMentor’s mission is to provide access to the world of STEM (Science, Technology, Engineering, and Mathematics)
        careers to ALL students through curated educational and informative content and real-time connections to STEM professionals.
    </p>
    <p class='about-center' align="center">
        STEMentor seeks to be the preeminent source of career information and advice for students ages 14 to adult interested in
        STEM careers. Our curated web content and links provide a one-stop location to find the best, most current information and guidance
        available on the web concerning STEM careers. Our mentor database provides access to STEM professionals recruited from
         top technology companies and universities, and who are willingly volunteering to offer their advice and counsel to students
        seeking to better understand STEM career opportunities.
    </p>
    <p class='about-center' align="center">
        We would welcome your support and we are eager to answer your questions about STEMentor. Please contact us
        at <a href="mailto:mhibbspe@gmail.com">mhibbspe@gmail.com</a>.
    </p>

    <p class="hidden">

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>

    </p>

    <!------------------->

  </div>
