<h2 layout="row" layout-align="center">About</h2>

<div layout-padding layout-margin>
  <p>
    STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor
    STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor
    STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor
    STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor
    STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor STEMentor
  </p>
</div>
