<h2 layout="row" layout-align="center">About</h2>

<div layout-padding layout-margin>
  <p>
    STEMentor’s mission is to provide access to the world of STEM (Science,
    Technology, Engineering, and Mathematics) careers to ALL students through
    curated educational and informative content and real-time connections to
    STEM professionals.
  </p>
  <p>
    STEMentor seeks to be the preeminent source of career information and
    advice for students ages 14 to adult interested in STEM careers. Our
    curated web content and links provide a one-stop location to find the best,
    most current information and guidance available on the web concerning STEM
    careers. Our mentor database provides access to STEM professionals
    recruited from top technology companies and universities, and who are
    willingly volunteering to offer their advice and counsel to students
    seeking to better understand STEM career opportunities.
  </p>
  <p>
    We would welcome your support and we are eager to answer your questions
    about STEMentor.  Please contact us at mhibbspe@gmail.com.
  </p>
</div>
