
<div class='center-card card-1' layout="column">
<!-- <br><br><br><br>
<br><br><br> <-->
<br>


<div layout="row" layout-align="center">
<img src="./assets/images/logo/STEMentorLogo.png" alt="Mountain View" style="width:600px;height:250px;">
</div>

<br><br><br>
<br><br><br>

<div layout="row" layout-align="center">

  <md-button href="#search">Find A Mentor</button>

  <md-button ng-click="home.logInModal($event)">Sign-up to become a mentor</button>

</div>
<br>
<br>

<!-- <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" > -->
<div class="aligner"
  <div class="carousel">
      <jk-carousel
        data="home.dataArray"
        item-template-url="'./views/item-template.html'"
        max-width="800"
        max-height="500"
        auto-slide="true"
        auto-slide-time="5000" >
      </jk-carousel>
  </div>
</div>
</div>
<!-- </md-card> -->
