<h1 class="home-header" layout="row" layout-align="center">STEMentor</h1>

<div layout="row" layout-align="center">
  <button href="#search" md-button class="md-raised">Find A Mentor</button>
  <button md-button class="md-raised">Sign-up to become a mentor</button>
</div>

<!-- <md-card layout="column" layout-align="center center" style="padding-bottom: 10px" > -->
<div class="aligner"
  <div class="carousel">
      <jk-carousel
        data="home.dataArray"
        item-template-url="'./views/item-template.html'"
        max-width="800"
        max-height="500"
        auto-slide="true"
        auto-slide-time="5000" >
      </jk-carousel>
  </div>
</div>
<!-- </md-card> -->
