<!DOCTYPE html>
<md-dialog aria-label="Log In">
    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Welcome!</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="login.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <br>
        <div layout="column">
            <div layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="username" ng-model="user.email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password">
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-click="login.userSignIn(user)">Submit</md-button>
        </div>

        <p align="center">Or Log In with your Google Account!</p>
        <div layout="row">
            <md-button class="md-raised md-primary login-modal-button" ng-click="login.googleLogIn('mentor', $event)">
                Login as Mentor
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary login-modal-button" ng-click="login.googleLogIn('student')">
                Login as Student
            </md-button>
            <span flex></span>
        </div>
        </md-dialog-actions>

    </form>
</md-dialog>