<!DOCTYPE html>
<md-dialog aria-label="Log In">
  <form ng-cloak>
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Log In</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="login.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Log In with your Google Account</h2>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="login.logIn('mentor', $event)">
        Login as Mentor
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="login.logIn('student')">
        Login as Student
      </md-button>
      <span flex></span>
    </md-dialog-actions>

  </form>
</md-dialog>
