<!DOCTYPE html>
<md-dialog aria-label="Log In">
  <form ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Welcome!</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="login.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="column">
      <md-button class="md-raised md-primary login-modal-button" ng-href="#signup">
        Sign Up
      </md-button>
      <md-button class="md-raised md-primary login-modal-button">
        Log In
      </md-button>
      <p>Or Log In with your Google Account</p>
      <div layout="row">
        <md-button class="md-raised md-primary login-modal-button" ng-click="login.logIn('mentor', $event)">
          Login as Mentor
        </md-button>
        <span flex></span>
        <md-button class="md-raised md-primary login-modal-button" ng-click="login.logIn('student')">
          Login as Student
        </md-button>
        <span flex></span>
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>