<md-dialog>
<!-- <div ng-if="message.userStatus.userType === 'mentor'"> -->
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="message.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Name</label>
          <textarea>{{message.currentMessage.student_name}}</textarea>
          <!-- <textarea rows="1" md-select-on-focus="" ng-model="message.newMessage.name"></textarea> -->
        </md-input-container>

        <md-input-container class="md-block">
          <label>Message Subject</label>
          <textarea>{{message.currentMessage.message}}</textarea>
          <!-- <textarea rows="1" md-select-on-focus="" ng-model="message.newMessage.subject"></textarea> -->
        </md-input-container>

        <md-input-container class="md-block">
          <label>Response</label>
          <textarea>{{message.currentMessage.reply}}</textarea>
          <!-- <textarea rows="1" md-select-on-focus="" ng-model="message.newMessage.subject"></textarea> -->
        </md-input-container>

        <!-- <md-input-container class="md-block">
          <label>Reply</label>
          <textarea rows="4" md-select-on-focus="" ng-model="message.newMessage.body"></textarea>
        </md-input-container> -->

        <!-- TODO: ng-if message_read === false: "Message is unread"
                   ng-if message_read === true: "Message has been read" -->

      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button ng-click="message.sendMentorMessage(message.newMessage)">
        Send Message
      </md-button>
    </md-dialog-actions> -->
  </form>
<!-- </div> -->

</md-dialog>
