<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Message Creation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container class="md-block">
          <label>Name</label>
          <textarea rows="1" md-select-on-focus=""></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Message Subject</label>
          <textarea rows="1" md-select-on-focus=""></textarea>
        </md-input-container>

        <h4>Create your message below. If you are a student, we suggest
          including a little bit about yourself&#8212your age, background,
          and anything else that might help a mentor provide meaningful
          advice.
        </h4>

        <md-input-container class="md-block">
          <textarea rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="">
        Send Message
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
