<!-- <div layout="row" layout-align="center">
  <div layout="column">

    <div layout="row">
      <h1>STEMentor</h1>
    </div>

    <div layout="row">
      <div><img src="../assets/images/cooldog.jpeg"></div>
      <div>
        <h2>firstName lastName</h2>
        <h3>jobTitle</h3>
        <h4>school</h4>
      </div>
    </div>

    <div>
      <md-tabs>
        <md-tab label="About Me"></md-tab>
        <md-tab label="FAQ"></md-ta
      </md-tabs>
    </div>

  </div>
</div> -->

<div id="profileContainer" layout="row">
  <div id="profileHeader" flex>

  </div>
  <div id="profileContent" flex>

  </div>
</div>
