$root: (
  fontSize: 16px,
  lineHeight: 29px
);
$scale0: (
  fontSize: 1em,
  line: 1.8125em,
  autoLineCount: 1,
  autoLineHeight: 1.8125em
);
$scale1: (
  fontSize: 1.125em,
  line: 1.61111111em,
  autoLineCount: 1,
  autoLineHeight: 1.61111111em
);
$scale2: (
  fontSize: 1.25em,
  line: 1.45em,
  autoLineCount: 1,
  autoLineHeight: 1.45em
);
$scale3: (
  fontSize: 1.375em,
  line: 1.31818182em,
  autoLineCount: 1,
  autoLineHeight: 1.31818182em
);
$scale4: (
  fontSize: 1.5625em,
  line: 1.16em,
  autoLineCount: 1,
  autoLineHeight: 1.16em
);
$scale5: (
  fontSize: 1.75em,
  line: 1.03571429em,
  autoLineCount: 1,
  autoLineHeight: 1.03571429em
);
$scale6: (
  fontSize: 1.9375em,
  line: 0.93548387em,
  autoLineCount: 2,
  autoLineHeight: 1.87096774em
);
$scale7: (
  fontSize: 2.125em,
  line: 0.85294118em,
  autoLineCount: 2,
  autoLineHeight: 1.70588235em
);
$scale8: (
  fontSize: 2.375em,
  line: 0.76315789em,
  autoLineCount: 2,
  autoLineHeight: 1.52631579em
);
$scale9: (
  fontSize: 2.6875em,
  line: 0.6744186em,
  autoLineCount: 2,
  autoLineHeight: 1.34883721em
);
$scale10: (
  fontSize: 3em,
  line: 0.60416667em,
  autoLineCount: 2,
  autoLineHeight: 1.20833333em
);
$scale11: (
  fontSize: 3.3125em,
  line: 0.54716981em,
  autoLineCount: 2,
  autoLineHeight: 1.09433962em
);
$scale12: (
  fontSize: 3.6875em,
  line: 0.49152542em,
  autoLineCount: 3,
  autoLineHeight: 1.47457627em
);
