
//***** homepage styling ***** //

.homepage-header {
  justify-content: center;
  text-align: center;
}

.homepage-buttons {
  justify-content: center;
}

//*****************************//

.center-card {
  background: #FFFFFF;
  border-radius: 2px;
  margin: auto;
  height: 100%;
  width: 900px;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.hidden {
  color: white;
}
