//-------------------------------- Navbar CSS --------------------------------//

.navBardemoBasicUsage md-content .ext-content {
  // padding: 50px;
  padding-bottom: 40px;
  margin: 20px;
}

.notification {
  color: $STEM-red;
  font-weight: bold;
}

//----------------------------------------------------------------------------//
