// ***** navbar css ***** //

.navBardemoBasicUsage md-content .ext-content {
  // padding: 50px;
  padding-bottom: 40px;
  margin: 20px;
 }

 .notification{
   color: red;
   font-weight: bold;
 }

 // **********************//
