//***** Color Variables *****//

$main-blue: #0077b5;
$main-black: #000000;
$main-white: #FFFFFF;

$dark-gray: #313335;
$medium-gray: #86888A;
$light-gray: #CACCCE;

$accent-blue: #00A0DC;
$accent-purple:#8D6CAB;
$accent-red: #DD5143;
$accent-orange: #E68523;

//***************************//


// ***** Common Mixins ***** //

@mixin outline {
  border: 1px solid black;
}

//***************************//
